.col{
    border: 1px solid black;
}
.col-4{
    border: 1px solid black;
}
.col-8{
    border: 1px solid black;
}
.row{
    padding-top: 10px;
}
.col-5{
    border: 1px solid black;
}
 .col-3{
border: 1px solid black;
}
